@charset "UTF-8";

.content{
  height: 500px;
}

.image{
  background: url(../../image/coffee-background.jpg)
}

.image-repeat{
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.image-center{
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
}

.image-all{
  background: url(../../image/coffee-background.jpg)no-repeat center/contain;
}